---
// import Search from '../components/Search/Search.astro';
import { getPosts as getNotionPosts, type NotionPage } from '../notion';
import Layout from '../layouts/Layout.astro';
import plainwhiteConfig from '../plainwhite.config';
import formatDate from '../utils/formatDate';
import Search from '../components/Search/Search.astro';

const getPages = async () => {
    let cursor: string | null = null;
    const pages: NotionPage[] = [];
    do {
        const response = await getNotionPosts({ currentPageCursor: cursor });
        cursor = response.nextPageCursor;
        pages.push(...response.pages);
    } while (cursor);

    return pages;
};

const pages = await getPages();

const { show_excerpts } = plainwhiteConfig;
---

<Layout title="Welcome to Astro." pageType="home">
    <ul class="posts">
        <li class="posts-labelgroup" id="posts-labelgroup">
            <h1 id="posts-label">posts</h1>
            <Search />
        </li>

        {
            pages.map((p) => (
                <li>
                    <a class="post-link" href={`posts/${p.id}`}>
                        <h2 class="post-title">{p.title}</h2>
                    </a>
                    <div class="post-meta">
                        <div class="post-date">
                            <i class="icon-calendar" />
                            {`${formatDate(p.date.split(' ')[0])}`}
                        </div>
                        {p.categories.length && (
                            <ul class="post-categories">
                                {p.categories.map((c) => (
                                    <li>{c}</li>
                                ))}
                            </ul>
                        )}
                    </div>
                    <div class="post">
                        {show_excerpts && <p set:html={p.excerpt} />}
                    </div>
                </li>
            ))
        }
        <span>
            Page generated at{new Date().toLocaleString()}
        </span>
    </ul>
</Layout>
